@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin:0;
    height:0;
}
:root{
    --purple: #6c4bfe;
    --background: #EEEEEE;
    --titlefont: courier;
    --paragraph: #6E6363;
    --imagefill: #62A6B8;
    --imageshadowdiv: #36277a;
    --hellocolor:#EBE3E3;
}
body{
    background-color: var(--background);
    
}
body a:hover{
    border: 7px solid --imageshadowdiv;
}
body p{
    font-family: 'Lato', sans-serif;
}
main{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    position:absolute;
    overflow-x: hidden;
}
header{
    background-image: url(./background.svg);
    height: 61vw;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: -4vw;
    background-size: cover;
    scroll-snap-align: start;
    background-attachment: fixed;
    background-position-x: -2vw;

    
}
.headercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 24vw;
}
.headercontainer h2{
    font-family: 'Rubik Wet Paint', cursive;
}
.profle{
    width:200vw;
    height:200vh;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:all 5s ease-in;
}
.profile img{
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    top: 0vh;
    left: 27vw;
    z-index: 1;
    cursor: pointer;
    object-fit: cover;
}
.profilehover{
    opacity:0;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    top: 12vw;
    left: 47.8vw;
    background-color: rgb(94, 94, 192, .5);
    overflow: hidden;
    z-index: 1;
    cursor: pointer;

}
.profile:hover .profilehover{
    opacity:1;

}
.profilehover p{
    color: white;
    padding: 2vw;
    text-align: center;
    font-size: 2vw;
}
.circle{
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    background-color: var(--imageshadowdiv);
    position: relative;
    top: -16vw;
    left: 28vw;
}
.desc p{
    text-align: center;
    font-family: 'Lato', sans-serif;
    
}
.headercontainer h2{
    color: var(--hellocolor);
    margin-right: 6vw;
    position: relative;
    right: -24vw;
    font-size: 3vw;
}
.desc{
    margin-left: 33vw;
    font-size: 2vw;
    margin-top: 7vw;
    color: white;
}
nav{
    display:flex;
    justify-content: space-around;
}
nav h3{
    color: white;
    margin-top: 1vw;
    font-size: 2vw;
}
.smallcircle{
    width: 10vw;
    height: 10vw;
    background-color: var(--imageshadowdiv);
    border-radius: 50%;
    margin-top: -5vw;

}
navigation{
    position:fixed;
    margin-top: 12vw;
    margin-left: 2vw;
    z-index: 5;
    transition: navanimation 1s ease-out;
}
navigation p{
    font-size: 1vw;
    text-align: center;
    padding: 1px;
    padding-top: 16px;
    color: #ebebeb;
    transition:all .5s ease-in;
}
@keyframes navanimation {
    0%{margin-left:-5vw}
    100%{margin-left:2vw}
}

.circlen{
    background-color: var(--imageshadowdiv);
    width: 82px;
    height: 82px;
    margin-top: 1vw;
    border-radius: 50%;
    transition: all .6s ease-in;
}
.circlen:hover{
    width:250px;
    height:70px;
    border-radius: 0%;
    border-top-right-radius: 57px;
    cursor: pointer;

}
.social img{
    width: 4vw;
    height: 4vw;
    background-color: black;
    border-radius: 50%;
    
}
.social{
    margin-top: 8vw;
    margin-left: 2vw;
    
}
section{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    overflow: hidden;
}
.container{
    width: 69vw;
    height: 64vw;
    
}
.header{
    text-align: center;
    color: var(--paragraph);
    font-size: 4vw;
    margin-top: 4vw;
    margin-bottom: -3vw;
    font-family: 'Rubik Wet Paint', cursive;
}
.header span{
    color: var(--purple)
}
.decorationbox{
    width: 18vw;
    height: 37vw;
    background-color: var(--purple);
    position: absolute;
}
.bigbox{
    margin-top: 10vw;
    margin-left: 14vw;
    display: flex;
}
.imgcontainer img{
    width: 38vw;
    height: 26vw;
    background-color: var(--imagefill);
    position: absolute;
    left: 21vw;
    margin-top: 6vw;
}
.boxdesc{
    background-color: var(--background);
    width: 18vw;
    height: 19vw;
    position: absolute;
    left: 54vw;
    margin-top: 9vw;
    padding-left: 4vw;
    padding-right: 4vw;
    box-shadow: 1vw 1vw 3vw #c5c4c4;
}
.boxheader{
    margin-bottom: 4vw;
    margin-top: 2vw;
    text-align: center;
    font-size: 1.7vw;
    font-family: 'Bebas Neue', cursive;
}
.boxdesc p{
    font-size: 1.3vw;
}
.boxheader span{
    color:var(--purple);
}
.reverse .boxdesc{
    left: 21vw;
    box-shadow: -8px 16px 19px #c5c4c4;
}
.reverse .imgcontainer img{
    width: 38vw;
    height: 28vw;
    background-color: var(--imagefill);
    position: absolute;
    margin-top: 4vw;
    left: 40vw;
}

.reverse .decorationbox{
    left: 51.8vw;
}
.prog{
    margin-bottom: 9vw;
    margin-top: 5vw;
}
.lang{
    display: flex;
    margin-top: 12vw;
    margin-bottom: 27vw;

}
.lang img{
    border-radius: 16px;
    width: 10vw;
    height: 6vw;
    background-color: var(--imagefill);
    margin-right: 1vw;
    margin-top: 1vw;
    transition:all .5s ease-in;
    object-fit: cover;
    transition: all .5s ease;
    cursor: pointer;
}
.lang img:hover{
    border-radius:6px;
    width:10.5vw;
    height:6.6vw;
}
.vert{
    display:flex;
    flex-direction: column;
}
.first{
    margin-top: 3vw;
}
.last{
    margin-top: 3vw;
}
.onefirst{
    margin-top: 6vw;
}
.onelast{
    margin-top: 6vw;
}
.progtext{
    text-align: center;
    background-color: var(--paragraph);
    font-size: 1.6vw;
}
.descont{
    width: 24vw;
    height: 38vw;
    margin-top: -17vw;
    box-shadow: 1px 2px 21px grey;
    border-radius: 40px;
}

.aboutcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86vw;
    margin: auto;
    margin-top:0;
}
.aboutprofileimage img{
    width: 27vw;
    height: 56vw;
    margin-left: 12vw;
    margin-right: 2vw;
}
.aboutmedesc{
    display: flex;
    flex-direction: column;
    margin-top: 31vw;
    width: 40vw;
}
.aboutmedesc h2{
    margin-bottom: 6vw;
    margin-top: -8vh;
}
.aboutlongp{
    line-height: 3.1vh;
    font-size: 1.3vw;
}
#projects{
    background-image: url('./projbackground.svg');
    background-attachment: fixed;
    width:100vw;
    height:100vh;

}
.projectcontainer{
    width:80vw;
    height:82vh;
    display:flex;
    flex-direction: column;

}
.projheader{
    margin-bottom: 5vw;
}
.projboxes{
    width: 82vw;
    height: 34vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.projbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 18vw;
    height: 24vw;
    background-color: #47425e;
    margin-right: 1vw;
    margin-left: 1vw;
    border-radius: 16px;
    padding: 2vw;
    overflow: hidden;
    opacity: .9;
    color: white;
    transition: all .5s ease-in;
    cursor: pointer;
    box-shadow: 13px 16px 9px #3e3e3e;
}
.projbox:hover{
    opacity: 1;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}
.projdesc button{
    margin-top: 16vw;
    margin-left: 11vw;
    height: 3vw;
    width: 7vw;
    border-radius: 11px;
    border: none;
    font-size: .8vw;
    background-color: #f6e133;
    color: black;
    cursor: pointer;
    transition: all .3s ease;
}
.projdesc button:hover{
    background-color: var(--background);
    color:black;
    border-radius: 5px;
}
.projdesc p{
    font-size: 1.3vw;
}
.projdesc{
    margin-bottom: 20vw;
}
.projheadercont img{
    width:5vw;
    height:5vw;
    margin-right: 2vw;
}
.projheadercont h3{
    font-size: 1.5vw;
    margin-top: -5vh;
}
.projheadercont{
    display: flex;
    justify-content: center;
    margin-bottom: 4vw;
    margin-top: 3vw;
    align-items: center;
}
footer{
    scroll-snap-align: start;
    width:100vw;
    height:100vh;
    height: 35vh;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:100px;
}
.footercont{
    background-color: var(--imageshadowdiv);
    width:100vw;
    height:35vh;
    border-top-right-radius: 160px;
    color: #d9d9d9;
}
.footercontent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 59px;
}
.footercontent ul{
    margin-top:10px;
    display:flex;
    flex-direction: column;
}
.footercontent li{
    margin-top:5vh;
    display:flex;
    flex-direction: column;
}
.footercontent h3{
    text-align: center;
}
.logo img{
    width: 11vw;
    height: 11vw;
    margin-left: 6vw;
}
.footerav{
    width: 36vw;
    height: 39vw;
    position: absolute;
    margin-top: -22vw;
    margin-left: -7vw;
}
.contact li a{
    text-decoration: none;
    color: white;
}
.contact li a:hover{
    color: orange;
}
#pybtn{
    z-index: 3;
}
@media (max-width:1563px){
    header{
        background-position-y:-18vw;
        background-position-x:center;
    }
}
@media (max-width:1200px) {
    header{
        background-position-y: -15vw;
        background-attachment: unset;
        background-position-x: center;
    }
    main{
        scroll-snap-type: y proximity;
    }
    section{
        scroll-snap-align:start;
        height:51vh;
    }
    #about {
        height: 50vh;
    }
    
    .container{
        height: 69vw;
    }
    navigation{
        display:none;
    }
    section{
        height:fit-content;
    }
    #about{
        height: 67vh;
    }
    
}

@media(max-width:1000px){
    .projheader{
        margin-bottom: 8vw;
    }
    .projboxes{
        flex-direction: column;
        height: fit-content;
    }
    .projbox{
        width: 40vw;
        margin-bottom: 2vw;
    }
    .projdesc p {
        font-size: 1.6vw;
    }
    .projheadercont{
        margin-bottom: 4vw;
        margin-top: 5vw;
    }
    .projdesc button{
        margin-top: 13vw;
        margin-left: 13.5vw;
        height: 4vw;
        width: 14vw;
        font-size: 1.4vw;
    }
    .aboutmedesc{
        width: 72vw;
    }
    .aboutlongp{
        line-height: 3vh;
        font-size: 2vh;
    }
    .aboutprofileimage img{
        width: 21vw;
        height: 58vw;
    }
    .aboutmedesc h2 {
        margin-bottom: 6vh;
        margin-top: 14vh;
    }
    .imgcontainer img {
        width: 64vw;
        height: 26vw;
        left: 19vw;
        margin-top: 3vw;
    }
    .boxdesc {
        background-color: black;
        width: 56vw;
        height: 24vw;
        left: 19vw;
        margin-top: 29vw;
        opacity: .8;
        color: white;
        text-align: center;
        box-shadow: none;
    }
    .boxdesc p{
        font-size: 2vw;
    }
    .boxheader{
        margin-bottom: 2vw;
        font-size: 3vw;
        background-color: #303030;
        height: 5vw;
    }
    .decorationbox {
        width: 29vw;
        height: 58vw;
        right: 32vw;
        margin-top: -1.2vw;
    }
    .reverse .imgcontainer img {
        width: 64vw;
        height: 28vw;
        margin-top: 1vw;
        left: 19vw;
    }
    .reverse .boxdesc {
        left: 19vw;
        box-shadow: none;
    }
    .reverse .decorationbox {
        left: 35vw;
        margin-top: -2vw;
    }
    #about {
        height: 88vh;
    }
    .last {
        margin-top: 0;
    }
    .first{
        margin-top: 0;
    }
    .onelast {
        margin-top: 14vw;
        position: absolute;
        right: 32vw;
    }
    .onefirst {
        margin-top: 14vw;
        position: absolute;
        right: 54vw;
    }
    .aboutcontainer{
        flex-direction: column;
    }
}

@media (max-width:700px){
    #projects{
        height:80vh;
    }
}
@media (max-width:500px){
    #projects{
        height:57vh;
    }
}